PORT = 
NODE_ENV = 
DB_URI = 

JWT_SECRET = 
JWT_EXPIRES_TIME = 
COOKIE_EXPIRES_TIME =  

SMTP_HOST = sandbox.smtp.mailtrap.io
SMTP_PORT = 2525
SMTP_EMAIL = 
SMTP_PASSWORD = 
SMTP_FROM_EMAIL = noreply@lappyshoppy.com
SMTP_FROM_NAME = LappyShoppy

CLIENT_URL = http://localhost:5173


CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 
CLOUDINARY_URL = 

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=""